
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700;800&display=swap');

body {
  font-family: 'Tajawal', sans-serif;
  background-color: #f1f5f9; /* slate-100 */
}

@keyframes modal-in {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-modal-in {
  animation: modal-in 0.2s ease-out forwards;
}